// @import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.user-page{
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .message-box{
        height: calc(100vh - 180px);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: #EFF2B2;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        .message-row{
            @media only screen and (max-width: 400px) {
                width: 100%;
            }
            width: 600px;
            font-family: 'Roboto', sans-serif;
            margin: 5px 0;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            color: #fff;
            &_user1{
                background-color: #000;
                text-align: right;
            }
            &_user2{
                background-color: #8A8B75;
                text-align: left;
            }
        }
    }
    
    form{
        position: absolute;
        bottom: 10px;
        margin-top: auto;
        width: calc(100% - 20px);
        .msg-input{
            margin-bottom: 20px;
        }
    }
    
}
